<table class="table table-condensed">
	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:title"]'>
	<td>Titel:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:title"]}}</td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:identifier"]'>
	<td>Identifier:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:identifier"] | json}}</td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:creator"]'>
	<td>Autor:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:creator"]}}</td></tr>

	<tr ng-show='aggregation._source["edm:dataProvider"]["dc:title"]'>
	<td>Herkunft:</td>
	<td>{{aggregation._source["edm:dataProvider"]["dc:title"]}}<div ng-show='ifHasProperty(aggregation._source["edm:dataProvider"]["dc:type"])'>
	({{aggregation._source["edm:dataProvider"]["dc:type"]}})</div></td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:rights"]'>
	<td>Copyright / Rechtsvermerke:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:rights"]}}</td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:description"]'>
	<td>Beschreibung:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:description"]}}</td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dcterms:spatial"]'>
	<td>Ortsangaben:</td>
	<td><button class="btn btn-info btn-small" ng-repeat="location in aggregation._source['edm:aggregatedCHO']['dcterms:spatial']">{{location}}</button></td></tr>

	<tr ng-show='aggregation._source["edm:aggregatedCHO"]["dc:date"]'>
	<td>Datum:</td>
	<td>{{aggregation._source["edm:aggregatedCHO"]["dc:date"]}}</td></tr>
</table>
