<div ng-controller="ListCtrl" class="container-fluid">

	<div class="row-fluid">
	
		<div class="span3 well">
			<ul ng-show="facets.providers" class="nav nav-list">
				<li class="nav-header">Institution</li>
				<li ng-repeat="term in facets.providers.terms">
					<a ng-href="#/?q={{q}}&facet.providers={{term.term}}">{{term.term}} ({{term.count}})</a>
				</li>
			</ul>
			<ul ng-show="facets.formats" class="nav nav-list">
				<li class="nav-header">Formate</li>
				<li ng-repeat="term in facets.formats.terms">
					<a ng-href="#/?q={{q}}&facet.formats={{term.term}}">{{term.term}} ({{term.count}})</a>
				</li>
			</ul>
		</div>

		<div class="span6">
	
			<div class="row-fluid">
				<div class="span6" >
					<h4>{{total}} Treffer</h4>
				</div>
				<div class="span6">
					<div class="pagination pull-right">
						<ul>
							<li ng-class="{disabled:(from <= 0)}"><a ng-click="prevPage()">«</a></li>
							<li class="disabled">
								<a>
									Seite {{page()}} / {{totalPages()}}
								</a>
							</li>
							<li ng-class="{disabled:(from > (total - 10))}"><a ng-click="nextPage()">»</a></li>
						</ul>
					</div>
				</div>
			</div>
	
			<div class="row-fluid">

			  <div class="span12">
				<table class="table table-striped">
					<tr ng-repeat="aggregation in aggregations"
							ng-class="{info:(aggregation._id == focused._id)}"
							ng-mouseover="preview(aggregation)" ng-mouseout="preview(null)">
						<td><a ng-href="#/detail/{{aggregation._id}}">{{aggregation._source["edm:aggregatedCHO"]["dc:title"][0]}}</a></td>
						<!--<td>{{aggregation._source["edm:dataProvider"]}}</td>-->
						<td><button type="button" class="btn btn-mini disabled">&gt;</button></td>
					</tr>
				</table>
			  </div>
			  
			</div>
		
		</div>

		<div class="span3" ng-show="focused">
			<a ng-href="#/detail/{{focused._id}}"><img ng-src="{{getThumb(focused._source)}}"></a>
			<p>{{focused._source['edm:aggregatedCHO']['dc:description'][0]}}</p>
		</div>
		
	</div>

</div>
